.clients{
   padding-top: 100px;
   padding-bottom: 115px;
   background-color: var(--bg-color);
}
.clients__title{
   font-family: "Poppins";
   font-style: normal;
   font-weight: bold;
   font-size: 40px;
   line-height: 60px;
   color: var(--color-text);
   margin: 0px;
   margin-bottom: 50px;
   text-align: center;
}
.clients__list{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px;
   padding: 0px;
}
.clients__item{
   list-style: none;
}
.clients__item + .clients__item{
   margin-left: 65px;
}

@media only screen and (max-width:426px){
   .clients{
      padding-top: 120px;
   }
   .clients__list{
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .clients__item + .clients__item{
      margin-left: 0;
   }
   .clients__item:nth-child(1){
      margin-bottom: 60px;
   }
   .clients__item:nth-child(2){
      margin-bottom: 60px;
   }
}

@media only screen and (max-width:411px){
   .clients__list{
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
   }
   .clients__item:nth-child(3){
      margin-bottom: 60px;
   }
}