.price{
   padding-top: 50px;
   padding-bottom: 100px;
   background-color: var(--bg-color);
}
.price__about{
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   display: block;
   color: var(--color-text);
   text-align: center;
   margin-bottom: 32px;
}
.price__title{
   font-family: "Poppins";
   font-style: normal;
   font-weight: bold;
   font-size: 34px;
   line-height: 51px;
   color: var(--color-text);
   margin: 0px auto 8px;
   text-align: center;
}
.price__entry{
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: var(--color-text);
   margin: 0px auto 50px;
   text-align: center;
}
.price__list{
   display: flex;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
}
.item{
   list-style: none;
   text-align: center;
   padding: 24px 72px 32px 72px;
   background: #FFFFFF;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
}
.price__name{
   font-family: "Poppins";
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 40px;
   /* identical to box height, or 167% */
   
   
   color: #22343D;
   margin-top: 0px;
   margin-bottom: 8px;
}
.price__description{
   font-family: "Poppins";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 40px;
   color: #22343D;
   margin-top: 0px;
   margin-bottom: 16px;
}
.cost{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 16px;
}
.cost__value{
   font-family: "Poppins";
   font-style: normal;
   font-weight: bold;
   font-size: 76px;
   line-height: 100px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #02897A;
   margin: 0px;
   margin-right: 8px;
}
.cost__symbol{
   display: block;
   text-align: left;
   font-family: "Poppins";
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
   letter-spacing: 0.1px;
   color: #02897A;
   margin-bottom: 7px;
}
.cost__describe{
   font-family: "Poppins";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.1px;
   color: #AFAFAF;
}
.item__list{
   margin: 0px;
   padding: 0px;
   margin-bottom: 38px;
}
.item__element{
   list-style: none;
}
.item__element + .item__element{
   margin-top: 16px;
}
.item__describe{
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.2px;
   color: #22343D;
   margin: 0px;
}
.item__link{
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
   padding: 10px 25px;
   box-sizing: border-box;
   border-radius: 8px;
   border: 1px solid #02897A;
   background-color: #02897A;
   color: #FFFFFF;
}
.item--green{
   background-color: #02897A;
}
.price__name--green{
   color: #FFF;
}
.price__description--green{
   color: #FFF;
}
.cost__value--green{
   color: #fff;
}
.cost__symbol--green{
   color: #fff;
}
.cost__describe--green{
   color: #E0E0E0;
}
.item__describe--green{
   color: #fff;
}
.item__link--green{
   background-color: #fff;
   color: #02897A;
}

@media only screen and (max-width:426px){
   .price{
      padding-top: 0px;
   }
   .price__list{
      flex-direction: column;
   }
   .price__item{
      width: 100%;
      max-width: 350px;
      margin: 0px auto;
   }
   .price__item + .price__item{
      margin-top: 32px;
   }
}
@media only screen and (max-width:426px){
   .price__item{
      width: 90%;
      padding-left: 20px;
      padding-right: 20px;
   }
}